html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: #333333;
  font-family: 'Muli', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #363636;
}


h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p, ol, ul {
  margin-top: 0px;
}

p {
  line-height: 190%;
}

strong {
}

a {
  color: #171717;
}

a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

.image
{
  display: inline-block;
}

.image img
{
  display: block;
  width: 100%;
}

.image-full
{
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
}

.image-left
{
  float: left;
  margin: 0 2em 2em 0;
}

.image-centered
{
  display: block;
  margin: 0 0 2em 0;
}

.image-centered img
{
  margin: 0 auto;
  width: auto;
}

hr {
  display: none;
}


/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style1
{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  overflow-y: auto;
  height: 400px;
}

ul.style1 li
{
  border-top: solid 1px #E5E5E5;
  padding: 0.80em 0;
}

ul.style1 li:first-child
{
  border-top: 0;
  padding-top: 0;
}

ul.style2
{
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.style2 li
{
  border-top: solid 1px #E5E5E5;
  padding: 0.80em 0;
}

ul.style2 li:first-child
{
  border-top: 0;
  padding-top: 0;
}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact
{
  margin: 0;
  padding: 1.5em 0em 2.5em 0em;
  list-style: none;
}

ul.contact li
{
  display: inline-block;
  padding: 0em 0.30em;
  font-size: 1em;
}

ul.contact li span
{
  display: none;
  margin: 0;
  padding: 0;
}

ul.contact li a
{
  color: #FFF;
}

ul.contact li a:before
{
  display: inline-block;
  background: #3f3f3f;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  color: #FFFFFF;
}

ul.contact li a.icon-twitter:before { background: #2DAAE4; }
ul.contact li a.icon-facebook:before { background: #39599F; }
ul.contact li a.icon-dribbble:before { background: #C4376B;	}
ul.contact li a.icon-tumblr:before { background: #31516A; }
ul.contact li a.icon-rss:before { background: #F2600B; }


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
  margin-bottom: 2em;
  text-transform: uppercase;
}

.title h2
{
  letter-spacing: 0.20em;
  font-weight: 700;
  font-size: 2em;
  color: #00AABB;
}

.title .byline
{
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.90em;
  color: #6F6F6F;
}

/** WRAPPER */

#wrapper {
  background: #FFFFFF;
}

#footer-wrapper
{
  background: #0F0F0F;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.clearfix {
  clear: both;
}


/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#header-wrapper
{
  overflow: hidden;
  background-size: 100%;
  background: #333333;
}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
  position: relative;
  overflow: hidden;
  text-align: center;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
  width: 500px;
  height: 140px;
  margin: 0 auto;
  padding: 2em 0em;
  text-transform: uppercase;
}

#logo h1
{
  letter-spacing: 0.10em;
  font-size: 3em;
}

#logo p
{
  letter-spacing: 0.10em;
  color: #FFF;
}

#logo a
{
  text-decoration: none;
  color: #FFF;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner
{
  position: absolute;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

#banner .image
{
  border: 5px solid #FFFFFF;
}


/** MENU */

#menu-wrapper
{
  background: #00AABB;
}

#menu {
  overflow: hidden;
  height: 100px;
}

#menu ul {
  margin: 0;
  padding: 25px 0px 0px 0px;
  list-style: none;
  line-height: normal;
  text-align: center;
}

#menu li {
  display: inline-block;
}

#menu a {
  display: block;
  letter-spacing: 1px;
  padding: 20px 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.80em;
  font-weight: 600;
  border: none;
  color: #FFF;
}

#menu a:hover, #menu .current_page_item a {
  text-decoration: none;
}

#menu .current_page_item a {
  background: #008C9A;
}

/** PAGE */

#page
{
  position: relative;
  overflow: hidden;
  padding: 6em 0em 5em 0em;
}

/** CONTENT */

#content
{
  float: right;
  width: 790px;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar
{
  float: left;
  width: 345px;
}

#sidebar .title h2
{
  font-size: 1.6em;
}

#sidebar .box1
{
  margin-bottom: 3em;
}


/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{
  overflow: hidden;
  padding: 5em 0em;
  text-align: center;
}

#copyright p
{
  letter-spacing: 0.20em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.80em;
  color: #6F6F6F;
}

#copyright a
{
  text-decoration: none;
  color: #8C8C8C;
}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome
{
  overflow: hidden;
  padding: 5em 0em;
  border-bottom: 1px solid #E5E5E5;
  text-align: center;
}

#welcome h2
{
  letter-spacing: 0.20em;
  text-transform: uppercase;
  font-size: 2.6em;
}

#welcome p
{
  font-size: 1.3em;
}

#welcome .byline
{
  display: block;
  padding: 0em 0em 1.5em 0em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2em;
  color: #6F6F6F;
}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

#portfolio-wrapper
{
  background: rgba(0,0,0,.04);
  padding: 6em 0em;
  color: rgba(255,255,255,.7);
}

#portfolio
{
  overflow: hidden;
}

#portfolio .title h2
{
  font-size: 1.2em;
  color: #FFF;
}

#portfolio .byline
{
  font-size: 1em;
  color: #EEA7C1;
}

#column1,
#column2,
#column3,
#column4
{
  width: 282px;
}

#column1,
#column2
{
  float: left;
  margin-right: 24px;
}

#column3
{
  float: left;
}

#column4
{
  float: right;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button
{
  display: inline-block;
  margin-top: 1.5em;
  padding: 0.50em 3em 0.50em 2em;
  background: #00AABB;
  letter-spacing: 0.20em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.90em;
  color: #FFF;
}

.button:before
{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  color: #FFF;
}

#setup-wrapper
{
  text-align: center;
  margin-bottom: 6em;
}

#setup-finish-wrapper
{
  position: relative;
  text-align: center;
  margin-left: 6em;
}

#setup-button
{
  background: #00AABB;
  border: 0;
  color: #fff;
  font-size: 30px;
  height: 8rem;
  line-height: 1.2;
  margin: 2rem auto 0;
  position: relative;
  width: 18rem;
}

/*********************************************************************************/
/* Sessions                                                                       */
/*********************************************************************************/

.session-button
{
  background: #00AABB;
  border: 0;
  font-size: 20px;
  line-height: 1.5;
  position: relative;
  padding-left: 1.5em;
  text-align: left;
  width: 80%;
}

.session-button a
{
  color: #fff;
}

.accordion-list
{
  overflow: hidden;
  overflow-y: auto;
  height: 400px;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer-wrapper
{
  overflow: hidden;
  padding: 5em 0em;
  background: #1E1B1A;
}

#footer
{
  color: #ADADAD;
}

#footer .title h2
{
  font-weight: 400;
  font-size: 1.2em;
  color: #FFF;
}

#footer .title
{
  border-color: #2D2926 !important;
}

#footer .style1 li
{
  border-color: #2D2926 !important;
}

#footer .style1 a
{
  letter-spacing: 0.10em;
  font-size:1em;
  color: #B1B1B1;
}

#box1
{
  float: left;
  width: 354px;
  margin-right: 24px;
  padding-right: 30px;
}

#box2
{
  float: left;
  width: 354px;
  margin-left: 24px;
  padding-right: 30px;
}

#box3
{
  float: right;
  width: 344px;
  padding-left: 40px;
}


/******************************************
  NOTIFICATIONS
  *****************************************/

.dr-notification-container {
  position: absolute;
  z-index: 10000;
}

.dr-notification-container.bottom {
  bottom: 20px;
}

.dr-notification-container.right {
  right: 20px;
}

.dr-notification-container.left {
  left: 20px;
}

.dr-notification-container.top {
  top: 20px;
}

.dr-notification-container.center {
  left: 50%;
  margin-left: -190px;
}

.dr-notification-wrapper {
  width: 380px;
  position: relative;
  margin: 10px 0;
}

.dr-notification {
  width: 380px;
  background-color: rgba(2, 45, 59, 0.85);
  clear: both;
  min-height: 80px;
  max-height: 90px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #bfe2de;
  border: 1px solid rgba(4, 94, 123, 0.85);
  overflow: hidden;
}

.dr-notification-close-btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  padding: 3px;
  background-color: rgba(1, 26, 34, 0.85);
  font-size: 14px;
  color: #adfaff;
  border: 1px solid rgba(4, 94, 123, 0.85);
  position: absolute;
  right: -11px;
  top: 5px;
  -webkit-transition: all 0.35s cubic-bezier(0.31, 0.39, 0.21, 1.65);
  -moz-transition: all 0.35s cubic-bezier(0.31, 0.39, 0.21, 1.65);
  transition: all 0.35s cubic-bezier(0.31, 0.39, 0.21, 1.65);
  cursor: pointer;
}
.dr-notification-close-btn i {
  padding-left: 3px;
}
.dr-notification-close-btn:hover {
  -webkit-transform: scale3d(1.25, 1.25, 1);
  -moz-transform: scale3d(1.25, 1.25, 1);
  -ms-transform: scale3d(1.25, 1.25, 1);
  transform: scale3d(1.25, 1.25, 1);
}

.dr-notification-image {
  width: 80px;
  height: 80px;
  border-right: 1px solid rgba(4, 94, 123, 0.85);
  float: left;
  display: block;
  font-size: 40px;
  color: white;
  text-align: center;
}
.dr-notification-image i {
  display: block;
  width: 100%;
  padding-top: 25px;
}
.dr-notification-image img {
  margin: 15px;
  max-width: 70px;
  min-width: 48px;
}

.dr-notification-image.dr-notification-type-info {
  color: #FFF;
}

.dr-notification-image.dr-notification-type-warning {
  color: #FFA226;
}

.dr-notification-image.dr-notification-type-error {
  color: #FF4B4F;
}

.dr-notification-image.dr-notification-type-success {
  color: #B4D455;
}

.dr-notification-image.success {
  color: #B4D455;
}

.dr-notification-content {
  padding-left: 100px;
  padding-right: 15px;
  padding-top: 10px;
}

.dr-notification-title {
  color: white;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

p.dr-notification-text {
  margin-top: -5px;
  font-size: 12px;
}



.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


#plot { width: 250px; height: 150px; }
.legend table, .legend > div { height: 82px !important; opacity: 1 !important; left: 170px; top: 10px; width: 116px !important; }
.legend table { border: 1px solid #555; padding: 5px; }








	