extends layout

append scripts
  script(src="/bower_components/ng-resource/dist/ng-resource.min.js")
  script(src="/bower_components/angular-socket-io/socket.min.js")
  script(href="/bower_components/angular-notify/font-awesome.min.css" rel="stylesheet")
  script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
  script(src='/bower_components/angular-notify/notification.js')
  script(src='./bower_components/d3/d3.min.js' type='text/javascript')
  script(src="/bower_components/angular-flot/angular-flot.js")
  script(src='/javascripts/index.js')

block content
  div(id='wrapper' ng-app="app" ng-controller="menuCtrl")
    div(id='header-wrapper' ng-init='connection()')
      div(id='header' class='container')
        div(id='logo')
          h1
            a(href='/') noname
          p Fablab Project
    div(id='menu-wrapper')
      div(id='menu' class='container')
        ul
          li
            a(href='/') Home
          li
            a(href="/sessions") Sessions
          li
            a(href="/recorded") Recorded
          li
            a(href='#') About
    div(id='page' class='container')

      div(ng-view)

      div(notifications='bottom right')