doctype html
html
  head
    title= title
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/socket.io-client/socket.io.js')
    script(src="/bower_components/angular-route/angular-route.min.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/Flot/jquery.flot.js")
    block scripts
    link(rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/bower_components/angular-chart/dist/angular-chart.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
      block content

