//
   Created by marcelo on 06/05/16.

div(ng-controller="recordedCtrl")
    div(id='sidebar')
        div(class='title')
            h2 Files List

        div(class='accordion-list')
            uib-accordion(close-others="oneAtATime" ng-init='getFiles()')
                uib-accordion-group(ng-repeat='file in files' is-disabled='true' ng-click='loadFile(file)')
                    uib-accordion-heading {{file}}

    div(id="page")
        //table()
            tr(ng-repeat=group in group)
                div {{ group.time }}
                td() {{ group.time }}
                td() {{ group.name }}
        div(ng-repeat='data in plotData')
            flot(dataset="data" options="config3" width="500px" height="500px")

        div(ng-switch="sessionId || '_undefined_'")
            div(ng-switch-default)
                h2 Group Changes
            div(ng-switch-when="_undefined_")
        div(ng-repeat="group in groups")
            div() {{ group.time | number:2 }} --- {{ group.name }}