//
   Created by marcelo on 01/04/16.

div(ng-controller="runCtrl" ng-init="getRunningData()")
    div(id='sidebar')
        div(class='box2')
            div(class='accordion-list')
                uib-accordion(close-others="oneAtATime")
                    uib-accordion-group(ng-repeat='board in boards' is-disabled='true' heading='Test' ng-click="setData(board.ip)")
                        div(ng-switch='board.name')
                            div(ng-switch-when='')
                                uib-accordion-heading {{board.ip}}
                            div(ng-switch-default)
                                uib-accordion-heading {{board.name}}

    div(id="page")
        flot(id="placeholder" dataset="data1" options="config1" width="500px" height="500px")