//
   Created by marcelo on 25/03/16.

div(ng-controller="sessionsCtrl")
    div(id='sidebar')
        div(class='title')
            h2 Session List

        div(class='accordion-list')
            uib-accordion(close-others="oneAtATime" ng-init='getSessions()')
                uib-accordion-group(ng-repeat='session in sessions' is-disabled='true' ng-click='loadSession(session)')
                    uib-accordion-heading {{session.date}} - {{session.time}}

    div(id='session-data')
        div(id='page')
            div(ng-switch="sessionId || '_undefined_'")
                div(ng-switch-default)
                    h2 Session: {{sessionId}}
                    //flot(id='pie-placeholder' dataset="pieData" options="config2" width="500px" height="500px")
                div(ng-switch-when="_undefined_")
                    h2 Select a Session
            div(ng-repeat='data in plotData')
                flot(dataset="data" options="config1" width="500px" height="500px")
