//
   Created by marcelo on 25/03/16.

div(ng-controller="setupCtrl")
    div(id='sidebar')
        div(class='box2')
            div(class='title')
                h2 Boards List
            div(class='accordion-list')
                uib-accordion(close-others="oneAtATime" ng-init='getBoards()')
                    uib-accordion-group(ng-repeat='board in boards' heading='Test')
                        div(ng-switch='board.name')
                            div(ng-switch-when='')
                                uib-accordion-heading {{board.ip}}
                            div(ng-switch-default)
                                uib-accordion-heading {{board.name}}
                        input(type='text' name='boardName' id='boardName' ng-model='name' autocomplete='off')
                        button(ng-click='updateName(board, name)') Set Name
                        button(ng-click='lightLed(board)') Toggle Led Light

    div(id="page")
        div(id='setup-finish-wrapper')
            button(id='setup-button' ng-click='finishSetup()') FINISH SETUP